<form name="form-books-manyAction" method="post" action="/book/handle-form-actions" class="table-responsive mt-4">
    <a class="mb-4" href="/stored/trash/books">Go to Trash ({{countDeleted}})</a>
    <br>
    <a href="/book/create" class=" btn btn-primary  mb-4 btn-add">Add New Book</a>
    <div class=" mb-4 d-flex text-align-center">
        <div class="d-flex">
            <div class="w-50 text-left justify-content-center align-item-center">
                <label class="form-check-label  mb-0">
                    <span class="form-check-sign"></span>
                    <input id="checkbox-all" class="form-check-input" type="checkbox" value="">
                    Select All
                </label>
            </div>
            <select required name="action" class=" ml-2 mr-2 mr-sm select-all-checkbox select-action" id="inlineFormCustomSelect">
                <option selected value="" >---Choose---</option>
                <option  value="delete">Xoá</option>
            </select>
            <button disabled data-toggle="modal" data-target="#modal-delete-all" id="btn-run" class="btn btn-primary btn-sm btn-action">MAKE</button>

        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <th >#</th>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Country</th>
        <th>author</th>
        <th>publication date</th>
        <th>updated at</th>
        <th colspan="2">actions</th>

        </thead>
        <tbody>
        {{#each books}}
        <tr>
            <td>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="bookIds" class="form-check-input" type="checkbox" value={{this._id}}>
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </td>
            <td>{{sum @index 1}}</td>
            <td>{{this.name}}</td>
            <td>{{this.category.name}}</td>
            <td>{{this.country}}</td>
            <td>{{this.author}}</td>
            <td>{{this.publicationDate}}</td>
            <td>{{this.updatedAt}}</td>
            <td>
                <a href="/book/{{this._id}}/edit">Update</a>
            </td>
            <td>
                <a data-id="{{this._id}}" data-toggle="modal" data-target="#modal-delete" href="">Delete</a>
            </td>
        </tr>

        {{/each}}
        </tbody>
    </table>

</form>
<!--modal-->
<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this book?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-book" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-delete-all" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Are you sure ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete books?
            </div>
            <div class="modal-footer">
                <button id="btn-delete-book-all" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

<!--hide form-->
<form name="form-book-delete" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const checkboxAll = $('#checkbox-all');
        const checkboxChildren = $('input[name="bookIds"]');
        const btnRunAction = $('#btn-run');
        const formBookDelete = document.forms['form-book-delete'];
        const formBooksActions = document.forms['form-books-manyAction'];
        const btnDeleteAll = $('#btn-delete-book-all');
        let id;
        const btnDeleteBook = $('#btn-delete-book');


        // submit delete books
        btnDeleteAll.click(function(){
            formBooksActions.submit();
        })

        // delete event default button
        btnRunAction.click(function(){
            event.preventDefault()
        })
        // when modal delete open
        $('#modal-delete').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            id = button.data('id'); // Extract info from data-* attributes
        })

        // delete 1 book
        btnDeleteBook.click( function () {
            formBookDelete.action =`/book/${id}/delete?_method=DELETE`;
            formBookDelete.submit();
        })
        // click checkbox all
        checkboxAll.change(function () {
            const isChecked = $(this).prop('checked');
            checkboxChildren.prop('checked', isChecked);
            renderCheckAllSubmitBtn()
        })
        // click checkbox children
        checkboxChildren.change(function () {
          const isCheckedAll = $('input[name="bookIds"]').length === $('input[name="bookIds"]:checked').length;
          console.log($(this).prop('value'));
          checkboxAll.prop('checked', isCheckedAll);
          renderCheckAllSubmitBtn()
        })
        // re-render check all submit button
        function renderCheckAllSubmitBtn() {
            const checkedCount = $('input[name="bookIds"]:checked').length;
            btnRunAction.prop('disabled', !checkedCount > 0);
        }
    })
</script>
